/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font:16px/24px 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    letter-spacing:1px;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

/* animation */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* header */
header {
    padding:0;
    color:#444;
}

h1 {
    margin:40px 0;
    font-size:18px;
    font-weight:200;
    letter-spacing:4px;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin:0 0 20px 0;
}

a {
    text-decoration: none;
}
ul {
    margin:0;
    padding:0;
}
ul li {
    list-style-type:none;
}
input[type='checkbox']{
    margin:0 10px 0 0;
}
header {
    width:100%;
    position:fixed;
    background:#fff;
    z-index:100;
}
.logo {
    width:200px;
}
.intro {
    padding:40px;
    background:#f2f2f2;
}
.category {
    text-transform: uppercase;
}
.screen {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}
/* Portrait layout (default) */
.app {
    position:relative;
    padding:40px;
}
/* bill */
.bill {
    background:#f6f6f6;
    margin:20px 0 0;
    padding:20px;
}

.bill span {
    border-radius: 5px;
    font-weight:200;
    font-size:12px;
    margin:0 0 0 10px;
}

.bill-category {
    padding:2px;
    border:1px solid #9D185E;
    border-radius: 5px;
}

.bill-content {
    background:#fff;
    padding:10px;
}
